<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mfq.admin.web.dao.FinanceBillMapper" >
  <resultMap id="BaseResultMap" type="com.mfq.admin.web.bean.FinanceBill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="new_balance" property="newBalance" jdbcType="DECIMAL" />
    <result column="late_fee" property="lateFee" jdbcType="DECIMAL" />
    <result column="cur_period" property="curPeriod" jdbcType="INTEGER" />
    <result column="all_period" property="allPeriod" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="trade_at" property="tradeAt" jdbcType="TIMESTAMP" />
    <result column="charge_at" property="chargeAt" jdbcType="TIMESTAMP" />
    <result column="bill_at" property="billAt" jdbcType="TIMESTAMP" />
    <result column="due_at" property="dueAt" jdbcType="TIMESTAMP" />
    <result column="pay_at" property="payAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, bill_no, order_no, new_balance, late_fee, cur_period, all_period, status, 
    trade_at, charge_at, bill_at, due_at, pay_at, updated_at
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mfq.admin.web.bean.example.FinanceBillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finance_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from finance_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from finance_bill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mfq.admin.web.bean.example.FinanceBillExample" >
    delete from finance_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mfq.admin.web.bean.FinanceBill" >
    insert into finance_bill (id, uid, bill_no, 
      order_no, new_balance, late_fee, 
      cur_period, all_period, status, 
      trade_at, charge_at, bill_at, 
      due_at, pay_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{billNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{newBalance,jdbcType=DECIMAL}, #{lateFee,jdbcType=DECIMAL}, 
      #{curPeriod,jdbcType=INTEGER}, #{allPeriod,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{tradeAt,jdbcType=TIMESTAMP}, #{chargeAt,jdbcType=TIMESTAMP}, #{billAt,jdbcType=TIMESTAMP}, 
      #{dueAt,jdbcType=TIMESTAMP}, #{payAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mfq.admin.web.bean.FinanceBill" >
    insert into finance_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="newBalance != null" >
        new_balance,
      </if>
      <if test="lateFee != null" >
        late_fee,
      </if>
      <if test="curPeriod != null" >
        cur_period,
      </if>
      <if test="allPeriod != null" >
        all_period,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tradeAt != null" >
        trade_at,
      </if>
      <if test="chargeAt != null" >
        charge_at,
      </if>
      <if test="billAt != null" >
        bill_at,
      </if>
      <if test="dueAt != null" >
        due_at,
      </if>
      <if test="payAt != null" >
        pay_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="newBalance != null" >
        #{newBalance,jdbcType=DECIMAL},
      </if>
      <if test="lateFee != null" >
        #{lateFee,jdbcType=DECIMAL},
      </if>
      <if test="curPeriod != null" >
        #{curPeriod,jdbcType=INTEGER},
      </if>
      <if test="allPeriod != null" >
        #{allPeriod,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeAt != null" >
        #{tradeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeAt != null" >
        #{chargeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="billAt != null" >
        #{billAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dueAt != null" >
        #{dueAt,jdbcType=TIMESTAMP},
      </if>
      <if test="payAt != null" >
        #{payAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mfq.admin.web.bean.example.FinanceBillExample" resultType="java.lang.Integer" >
    select count(*) from finance_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update finance_bill
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.billNo != null" >
        bill_no = #{record.billNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.newBalance != null" >
        new_balance = #{record.newBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.lateFee != null" >
        late_fee = #{record.lateFee,jdbcType=DECIMAL},
      </if>
      <if test="record.curPeriod != null" >
        cur_period = #{record.curPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.allPeriod != null" >
        all_period = #{record.allPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.tradeAt != null" >
        trade_at = #{record.tradeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chargeAt != null" >
        charge_at = #{record.chargeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.billAt != null" >
        bill_at = #{record.billAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dueAt != null" >
        due_at = #{record.dueAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payAt != null" >
        pay_at = #{record.payAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update finance_bill
    set id = #{record.id,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      bill_no = #{record.billNo,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      new_balance = #{record.newBalance,jdbcType=DECIMAL},
      late_fee = #{record.lateFee,jdbcType=DECIMAL},
      cur_period = #{record.curPeriod,jdbcType=INTEGER},
      all_period = #{record.allPeriod,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      trade_at = #{record.tradeAt,jdbcType=TIMESTAMP},
      charge_at = #{record.chargeAt,jdbcType=TIMESTAMP},
      bill_at = #{record.billAt,jdbcType=TIMESTAMP},
      due_at = #{record.dueAt,jdbcType=TIMESTAMP},
      pay_at = #{record.payAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mfq.admin.web.bean.FinanceBill" >
    update finance_bill
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="newBalance != null" >
        new_balance = #{newBalance,jdbcType=DECIMAL},
      </if>
      <if test="lateFee != null" >
        late_fee = #{lateFee,jdbcType=DECIMAL},
      </if>
      <if test="curPeriod != null" >
        cur_period = #{curPeriod,jdbcType=INTEGER},
      </if>
      <if test="allPeriod != null" >
        all_period = #{allPeriod,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeAt != null" >
        trade_at = #{tradeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeAt != null" >
        charge_at = #{chargeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="billAt != null" >
        bill_at = #{billAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dueAt != null" >
        due_at = #{dueAt,jdbcType=TIMESTAMP},
      </if>
      <if test="payAt != null" >
        pay_at = #{payAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mfq.admin.web.bean.FinanceBill" >
    update finance_bill
    set uid = #{uid,jdbcType=BIGINT},
      bill_no = #{billNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      new_balance = #{newBalance,jdbcType=DECIMAL},
      late_fee = #{lateFee,jdbcType=DECIMAL},
      cur_period = #{curPeriod,jdbcType=INTEGER},
      all_period = #{allPeriod,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      trade_at = #{tradeAt,jdbcType=TIMESTAMP},
      charge_at = #{chargeAt,jdbcType=TIMESTAMP},
      bill_at = #{billAt,jdbcType=TIMESTAMP},
      due_at = #{dueAt,jdbcType=TIMESTAMP},
      pay_at = #{payAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectFinanceByPage" resultMap = "BaseResultMap">
    select
    <if test="count!=null and count!=''">
      count(*) as count
    </if>
    <if test="count == null or count == '' ">
      finance.id  , finance.uid , finance.bill_no as billNo ,finance.order_no as orderNo ,
      finance.new_balance as newBalance , finance.late_fee as  lateFee , finance.cur_period as curPeriod,
      finance.all_period as allPeriod ,finance.status,finance.trade_at as tradeAt,
      finance.charge_at as chargeAt , finance.bill_at as billAt ,
      finance.due_at as dueAt , finance.pay_at as payAt ,finance.updated_at as updatedAt
    </if>

    from finance_bill finance left join users_quota quota on quota.uid = finance.uid
    left join users u on u.uid = finance.uid

    where 1=1
    <if test="uid != null and uid != 0">
      and finance.uid = #{uid}
    </if>
    <if test="realname != null and realname != ''">
      and quota.realname like CONCAT('%',#{realname},'%')
    </if>

    <if test="phone != null and phone != ''">
      and u.mobile like CONCAT('%',#{phone},'%')
    </if>
    <if test="idcard != null and idcard != ''">
      and quota.id_card = #{idcard}
    </if>
    <if test="applytimefrom != null and applytimefrom != '' and applytimeto != null and applytimeto != ''  ">
      <![CDATA[
      	and finance.bill_at >= #{applytimefrom} and finance.bill_at <= #{applytimeto}
      ]]>
    </if>
    <if test="type != null and type != ''">
      <if test = "type == 1 ">
        and finance.status = 1
      </if>
      <if test = "type == 2 ">
        and finance.status = 2
      </if>
      <if test = "type == -1  ">
        and finance.status = -1
      </if>
      <if test = "type == 0 ">
        and finance.status = 1 and finance.bill_at >= #{endTime}
      </if>
    </if>
    group by finance.order_no

    limit #{start},#{size}
  </select>

  <select id="selectByExampleLimit" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from finance_bill
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    LIMIT #{start},#{size}
  </select>
</mapper>